{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LawFirm DB{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon-96x96.png' %}" sizes="96x96" type="image/png">
    <link href="https://unpkg.com/tailwindcss@^2.1/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block style %} <style></style> {% endblock %}
</head>
<body class="bg-gray-100">
    {% block content %}
    {% endblock %}
</body>

{% block script %}
<script>
</script>
{% endblock %}
</html>
