{% extends 'emails/base_email.html' %}

{% block title %}Account Approved{% endblock %}

{% block content %}
    <h2 style="color: #333;">Hi {{ user.get_full_name }},</h2>

    <p>Your account has been approved and activated. You can now log in to your account using the link below:</p>

    <p style="text-align: center; font-weight: bold;">
        <a href="{{login_url}}" class="btn">Log In</a>
    </p>

    <p>Thank you,<br>
    The Lawfirm DB Team</p>

    <footer>
        <p>&copy; 2024 Lawfirm DB. All rights reserved.</p>
    </footer>
{% endblock %}
