{% extends 'base.html' %}
{% block header %} Law Database System {%endblock%}
{% block content %}
    <p class="text-lg text-gray-700 text-justify">
        The Law Database System is a comprehensive web-based application designed to streamline the management and accessibility of legal cases, documents, and client information for both clients and lawyers. The system provides a secure and efficient platform for collaboration, ensuring that all parties involved in a case can access relevant information in real-time.
    </p>
{% endblock %}
